#################
.env
.env-old
.env.example
.htaccess
.htpasswd
.styleci.yml
*.yml
artisan
*.json
*.lock
*.txt
*.html
*.xml
*.log
*.yaml
server.php
webpack.mix.js
bootstrap/*
node_modules/*
public/chat/*
public/pdf/*
public/csv/*
public/chat/*
storage/*
vendor/*
#################
public/hot
public/storage
storage/
storage/*.key
vendor
node_modules


.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.history
app/Http/Controllers/Api/Chat/ChatController.php
.editorconfig
.env.swp
.env_stage
.gitattributes
copy.env
.history
node_modules
