.action-form {
  width: 630px !important;
  max-width: 100%;
}

.action-form input:not([type='button']):not([type='submit']):not([type='checkbox']), .action-form select {
  width: 100% !important;
}

.col-leftTermId, .col-leftTermIdEdit, .col-relationTypeId, .col-relationTypeIdEdit, .col-rightTermId, .col-rightTermIdEdit {
  width: 33.33%;
  display: inline-block;
  padding: 0 2px;
}

.col-ownership, .col-ownershipEdit, .col-ownerId, .col-ownerIdEdit {
  width: 50%;
  display: inline-block;
  padding: 0 2px;
}

.col-ownership .btn-group, .col-ownershipEdit .btn-group {
  width: 100%;
}

.col-ownership .btn-group label.btn, .col-ownershipEdit .btn-group label.btn {
  width: 33.33%;
}

.action-form input[type='submit'] {
  float: right;
}
